<% @html_options[:banner][:h1] = 'The Ultimate Movie List Collection' %>
<%= render 'banner' %>

<div class="d-flex justify-content-center">
  <%= link_to "Add Your List", new_list_path, html_options = {class: "btn btn-action-filled btn-m", style: "margin: 30px;"}  %>
</div>

<div class="container index-lists m-4">
  <div class="grid-list">
    <% @lists.each do |list| %>
      <% @list =  list %>
      <%= render 'card_list' %>
    <% end %>
  </div>
</div>
