// Define variables for your color scheme

// For example:
$red: #FD1015;
$purple: rgb(162,56,255);
$blue-purple: rgb(86,58,242);
$blue: rgb(57,131,255 );
$light-blue: rgb(4,207,232);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(142,142,142);
$light-gray: rgb(179,183,186);


$background: #010D1A;
$background_dark: rgb(3,13,25);
$footer_bg: rgb(241,246,249);
