.btn-action-filled {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    // display: -ms-flexbox;
    // -webkit-box-pack: center;
    /* -webkit-justify-content: center; */
    // -ms-flex-pack: center;

    // -webkit-box-align: center;
    /* -webkit-align-items: center; */
    // -ms-flex-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    vertical-align: center;
    border: solid;
    border-color: $background-dark;
    border-radius: 8px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    // box-shadow: 0 15px 30px -5px rgba(151,65,252,0.20);
    // white-space: nowrap;
    color: $light-gray;
    text-decoration: none;
    transition: color 0.4s, border-color 0.4s, box-shadow 0.4s;


    &:hover {
      color: white;
      // border-color: $white;
      // border-color: #00ddeb;
      border-color: white;
      // box-shadow: #af40ff;
      box-shadow: 0 0 30px -5px #00ddeb;

    }
}

.btn-action-hollow {
    padding: 16px 24px;
    background-image: asset-url('Button_Frame.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    &:hover {
      color: white;
    }

}


.btn-m {
  // width: 200px;
  // height: 50px;
  font-size: 24px;
  // line-height: 1em;
}

// * {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// .cta-buttons {
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // margin-top: 40px;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    // -webkit-flex-direction: row;
    // -ms-flex-direction: row;
    // flex-direction: row;
    // -webkit-box-pack: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    // align-items: center;
// }

// body {
//     background-color: #010d1a;
//     font-family: Phantomsans, sans-serif;
//     color: #fff;
//     font-size: 14px;
//     line-height: 20px;
// }
// body {
//     margin: 0;
//     min-height: 100%;
//     background-color: #fff;
//     font-family: Arial,sans-serif;
//     font-size: 14px;
//     line-height: 20px;
//     color: #333;
// }
